<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzMz3SMImGsFNiV_-p51hy1AEmZGExKpY</string>
	<key>GCM_SENDER_ID</key>
	<string>687939578610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blinkDelivery</string>
	<key>PROJECT_ID</key>
	<string>blink-delivery-89dff</string>
	<key>STORAGE_BUCKET</key>
	<string>blink-delivery-89dff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687939578610:ios:db22c8022916c9bd83fe6b</string>
</dict>
</plist>